.auth-bg-img{
    background-image: url('../images/authBG.jpg');
    background-position: 'center';
    background-size: 'cover';
    background-repeat: 'no-repeat';
    height: 100%;
    width: 100%;
  }
  
  .auth-logo{
    height: 40px;
    width: 40px;
  }
  
  
  .auth-card{
    max-width: 1000px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .auth-vector-img{
    height: 400px;
    width: inherit;
  }
  